body {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box {
  width: 100px;
  height: 100px;
  background-color: blueviolet;
  font-size: 80px;
  text-align: center;
}
main {
  width: 100%;
  height: auto;
}
